<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="HeadersSection" type="Client.HeaderConfigSection.HeadersSection, Client" />
    </configSections>

    <HeadersSection>
        <Headers>
            <add key="Server" value="HTTPServer" />
        </Headers>
    </HeadersSection>

    <appSettings>
        <add key="inbound_address" value="127.0.0.1"/>
        <add key="inbound_port" value="5050"/>
        <add key="outbound_address" value="127.0.0.1"/>
        <add key="outbound_port" value="5050"/>
        <add key="dbConnectionString" value="Data Source=mydatabase.db;" />
    </appSettings>
</configuration>
